.button {
    border-radius: 8px;
}

.button-primary {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;

    &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
}

.button-secondary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;

    &:hover {
        background-color: #5a6268;
        border-color: #5a6268;
    }
}

.button-tertiary {
    background-color: #f8f9fa;
    color: #495057;
    border: 1px solid #f8f9fa;

    &:hover {
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}

.button-neutral {
    background-color: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;

    &:hover {
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }
}

/* Định nghĩa màu sắc cho các nút */
.button-blue {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;

    &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
}

.button-yellow {
    background-color: #ffc107;
    color: white;
    border: 1px solid #ffc107;

    &:hover {
        background-color: #e0a800;
        border-color: #e0a800;
    }
}

.button-black {
    background-color: #343a40;
    color: white;
    border: 1px solid #343a40;

    &:hover {
        background-color: #23272b;
        border-color: #23272b;
    }
}

.button-white {
    background-color: #ffffff;
    color: #343a40;
    border: 1px solid #ced4da;

    &:hover {
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }
}

.button-orange {
    background-color: #fd7e14;
    color: white;
    border: 1px solid #fd7e14;

    &:hover {
        background-color: #e4601f;
        border-color: #e4601f;
    }
}

.button-violet {
    background-color: #6f42c1;
    color: white;
    border: 1px solid #6f42c1;

    &:hover {
        background-color: #5a32a3;
        border-color: #5a32a3;
    }
}

.button-green {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;

    &:hover {
        background-color: #218838;
        border-color: #218838;
    }
}

/* Định nghĩa kiểu cho các kích thước */
.button-small {
    padding: 10px 5px;
    font-size: 0.875rem;
}

.button-medium {
    padding: 10px 15px;
    font-size: 1rem;
}

.button-large {
    padding: 10px 25px;
    font-size: 1.25rem;
}

/* Định nghĩa kiểu cho trạng thái disabled và loading */
.button-disabled {
    pointer-events: none;
    opacity: 0.65;
}

.button-loading {
    pointer-events: none;
    align-items: center;
}

.button-loading .button-text-content {
    opacity: 0;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}