<div class="dropdown-container">
  <div class="dropdown-header" (click)="toggleDropdown()">
    <span>
      {{
        selectedValues.length
          ? selectedValues.length + " selected"
          : "Select items"
      }}
    </span>
    <span class="arrow">&#9662;</span>
  </div>
  <div #dropdown class="dropdown-menu">
    <div class="dropdown-item">
      <input
        type="checkbox"
        (change)="toggleCheckAll($event)"
        [checked]="selectedValues.length === optionItems.length"
      />
      Select All
    </div>
    <div class="dropdown-item" *ngFor="let item of optionItems">
      <input
        type="checkbox"
        [value]="item.id"
        [checked]="selectedValues.includes(item.id)"
        (click)="$event.stopPropagation()"
      />
      <span (click)="$event.stopPropagation()"> {{ item.name }}</span>
    </div>
  </div>
</div>
