.dropdown-container {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;

  .dropdown-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;


  }

  .dropdown-container :hover {
    border: 1px solid blue;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
  }

  .dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background: #f0f0f0;
    }
  }
}